.wrapLayout {
    display: flex;
    justify-content: center;
}

.container {
<<<<<<< HEAD
    width: 1250px;
=======
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
>>>>>>> 8d49d79 (update code section advanceHeadling)
}